<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341822469347-4t9ljhioh6c6plaqnov03987vo0bdj3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341822469347-4t9ljhioh6c6plaqnov03987vo0bdj3i</string>
	<key>API_KEY</key>
	<string>AIzaSyDJBM3jdokmbOxLfuGfFkTXzIbv44S9Prc</string>
	<key>GCM_SENDER_ID</key>
	<string>341822469347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reserve.reservationApp</string>
	<key>PROJECT_ID</key>
	<string>bookingapplication-a61cf</string>
	<key>STORAGE_BUCKET</key>
	<string>bookingapplication-a61cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341822469347:ios:811cd49247f1632b8d41d6</string>
</dict>
</plist>